server {
    listen 80;
    server_name astro.integromat.ru;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://${PUBLIC_DOMAIN}$request_uri;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name astro.integromat.ru;

    ssl_certificate /etc/letsencrypt/live/astro.integromat.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/astro.integromat.ru/privkey.pem;

    include /etc/nginx/snippets/ssl-params.conf;

    location / {
        return 301 https://${PUBLIC_DOMAIN}$request_uri;
    }
}

server {
    listen 80;
    server_name strapi.integromat.ru;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://${CMS_DOMAIN}$request_uri;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name strapi.integromat.ru;

    ssl_certificate /etc/letsencrypt/live/strapi.integromat.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/strapi.integromat.ru/privkey.pem;

    include /etc/nginx/snippets/ssl-params.conf;

    location / {
        return 301 https://${CMS_DOMAIN}$request_uri;
    }
}
